<section id="viewCarDetails">
    <h2>Детайли за обявата</h2>
    <div class="car-ticket">
        <div class="car-ticket-left">
            <div class="car-img">
                <img src="{{car.imageUrl}}" alt="">
            </div>
            <div class="car-info">
                <div class="flex">
                    <p>Марка: </p>
                    <p>{{brand.brand}}</p>
                </div>
                <div class="flex">
                    <p>Модел:</p>
                    <p>{{model.model}}</p>
                </div>
                <div class="flex">
                    <p>Цена:</p>
                    <p>{{car.price}}BGN</p>
                </div>
                <div class="flex">
                    <p>Собственик:</p>
                    <a href="/profile/{{user._id}}">{{user.username}}</a>
                </div>
                <div class="flex">
                    <p>Контакти:</p>
                    <p><span>{{user.phone}}</span> </p>
                </div>
                {{#if isAuthenticated}}
                {{#if isOwner}}
                <div class="details-buttons">
                    <a id="edit-button" href="/edit/{{car._id}}" class="edit">Edit</a>
                    <a id="delete-button" href="/delete/{{car._id}}">Delete</a>
                </div>
                {{/if}}
                {{/if}}
            </div>
        </div>
        <div class="car-ticket-right">
            <div class="flex-right">
                <p>Описание:<p id="description">{{car.description}}</p></p>
            </div>
            <div class="flex-right">
                <p>Гориво:</p>
                <p>{{car.engine}}</p>
            </div>
            <div class="flex-right">
                <p>Година:</p>
                <p>{{car.year}}</p>
            </div>
            <div class="flex-right">
                <p>Година:</p>
                <p>{{region.region}}</p>
            </div>
            <div class="flex-right">
                <p>Километри:</p>
                <p>{{car.mileage}} КМ.</p>
            </div>
        </div>
    </div>
</section>