<section id="viewCarDetails">
    <h2>Детайли за обявата</h2>
    <div class="car-ticket">
        <div class="car-ticket-left">
            <div class="car-img">
                <img src="{{bike.imageUrl}}" alt="">
            </div>
            <div class="car-info">
                <div class="flex">
                    <p>Регион:</p>
                    <p>{{region.region}}</p>
                </div>
                <div class="flex">
                    <p>Цена:</p>
                    <p>{{bike.rentPrice}} лв / час</p>
                </div>
                <div class="flex">
                    <p>Собственик:</p>
                    <a href="/profile/{{user._id}}">{{user.username}}</a>
                </div>
                <div class="flex">
                    <p>Контакти:</p>
                    <p><span>{{user.phone}} / {{user.email}}</span> </p>
                </div>
                {{#if isAuthenticated}}
                {{#if isOwner}}
                <div class="details-buttons">
                    <a id="edit-button" href="/edit/{{bike._id}}" class="edit">Редактирай</a>
                    <a id="delete-button" href="/delete/{{bike._id}}">Изтрий</a>
                </div>
                {{/if}}
                {{/if}}
            </div>
        </div>
        <div class="car-ticket-right">
            <div class="flex-right">
                <p>Описание:<p id="description">{{bike.description}}</p></p>
            </div>
        </div>
    </div>
</section>