<section id="viewProfileDetails">
    <div class="profile">
        {{#if profile.profileImg}}
        <div class="profile-img">
            <img src="{{profile.profileImg}}" alt="default user">
        </div>
        {{/if}}
        <div class="profile-info">
            <h3>Информация за профила:</h3>
            <div class="flex">
                <p>Потребителско име: </p>
                <p> {{profile.username}}</p>
            </div>
            <div class="flex">
                <p>Имейл: </p>
                <p> {{profile.email}}</p>
            </div>
            <div class="flex">
                <p>Телефонен номер: </p>
                <p>
                    <span> {{profile.phone}}</span>
                </p>
            </div>
            {{#if isOwner}}
            <div class="details-buttons">
                <a href="/profile/edit/{{userId}}" id="edit-button">Прикачи изображение</a>
            </div>
            {{/if}}
        </div>

    </div>

</section>